<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelraf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>HuiYan | 后台登录</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/LineIcons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/quill/bubble.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/quill/snow.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fullcalendar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/morris.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/vanilla-dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>

    <script>
        function checkAdmin() {
            var name=$("#adminName").val();
            var pwd=$("#adminPwd").val()
            if (name==123&&pwd==123){
                location.href="/toIndex";
            }

        }
    </script>
</head>
<body>

<!-- ========== signin-section start ========== -->
<section class="signin-section">
    <div class="container-fluid">
        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">欢迎</h1>
                            <p class="text-medium">
                                登录你的账户
                            </p>
                        </div>
                        <div class="cover-image">
                            <img th:src="@{/assets/images/auth/signin-image.svg}" alt=""/>
                        </div>
                        <div class="shape-image">
                            <img th:src="@{/assets/images/auth/shape.svg}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <h6 class="mb-15">登录</h6>
                        <p class="text-sm mb-25">
                            开始创造更好的用户体验
                        </p>
                        <form action="#">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>账号</label>
                                        <input id="adminName" type="text" placeholder="账号"/>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>密码</label>
                                        <input id="adminPwd" type="password" placeholder="密码"/>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                    <div class="form-check checkbox-style mb-30">
                                        <input class="form-check-input" type="checkbox" value="" id="checkbox-remember"/>
                                        <label class="form-check-label" for="checkbox-remember">记住我</label>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-xxl-6 col-lg-12 col-md-6">
                                    <div class="text-start text-md-end text-lg-start text-xxl-end mb-20">
                                        <a href="reset-password.html" class="hover-underline">
                                            忘记密码？
                                        </a>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <a type="button" class="main-btn primary-btn btn-hover w-100 text-center" onclick="checkAdmin()">
                                            登录
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>

                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>
<!-- ========== signin-section end ========== -->

<!-- ========= All Javascript files linkup ======== -->
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/Chart.min.js}"></script>
<script th:src="@{/assets/js/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/dynamic-pie-chart.js}"></script>
<script th:src="@{/assets/js/moment.min.js}"></script>
<script th:src="@{/assets/js/fullcalendar.js}"></script>
<script th:src="@{/assets/js/jvectormap.min.js}"></script>
<script th:src="@{/assets/js/world-merc.js}"></script>
<script th:src="@{/assets/js/polyfill.js}"></script>
<script th:src="@{/assets/js/quill.min.js}"></script>
<script th:src="@{/assets/js/vanilla-dataTables.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
</body>
</html>
