<!doctype html>
<html lang="en" xmlns:th="http://www.thymelraf.org"
	  xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>HuiYan-上传视频</title>
		<link rel="stylesheet" th:href='@{/css/css.css}'>
		<link rel="stylesheet" th:href='@{/css/default.css}'>
		<link rel="stylesheet" th:href='@{/css/plugins.css}'>
		<link rel="stylesheet" th:href='@{/css/style_video.css}'>
		<link rel="stylesheet" th:href='@{/css/color.css}'>
		<link rel="stylesheet" th:href='@{/css/color.css}' id="template-color">
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">

		<!--引入矢量图-->
		<link rel="stylesheet" th:href="@{/css/iconfont.css}">

		<!--jQuery-->
		<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>


		<!--    bootstrap-->
		<link th:href="@{/css/style.css}" rel="stylesheet">

		<script type="text/javascript">

			function checkVideoInfo() {

				var formData =new FormData();

				var videoTitle=$("#videoTitle").val();
				var videoInfo=$("#videoInfo").val();
				var videoUrl=document.getElementById("videoUrl").files[0];
				var imgUrl=document.getElementById("imgUrl").files[0];

				// var videoUrl=document.getElementById("test1").files[0];
				// var imgUrl=document.getElementById("testList").files[0];

				var videoTime=$("#videoTime").val();
				var videoType=$("#videoType").val();

				formData.append("videoTitle",videoTitle);
				formData.append("videoInfo",videoInfo);
				formData.append("videoUrl",videoUrl);
				formData.append("imgUrl",imgUrl)
				formData.append("videoTime",videoTime);
				formData.append("videoType",videoType);



				$.ajax({
					url: "/video/checkVideo",
					type: "post",
					data: formData,
					async: false,
					processData: false,
					contentType: false,
					success:function(msg){
						alert(msg)
						location.href="/video/toUploadVideo"
					}

				})



			}


		</script>
	</head>
	<body>
		<div id="preloader">
			<div class="spinner">
				<div class="uil-ripple-css">
					<div></div>
					<div></div>
				</div>
			</div>
		</div>

		<!--TopBarStart!!!-->
		<div th:insert="~{/commons/common_video::topBar1}"></div>
		<div th:insert="~{/commons/common_video::topBar2}"></div>
		<div th:insert="~{/commons/common_video::topBar3}"></div>
		<!--TopBarEnd!!!!-->

		<div class="container-fluid p-0">
			<div class="d-flex topspace-90">

				<!--SideoBarStart!!!-->
				<div th:insert="~{/commons/common_video::sideBar}"></div>
				<!--SideBarEnd!!!-->


				<div class="main-container">
					<form id="video-uploader">
						<div class="text-center mb-5">
							<h1 class="font-weight-bold">创作中心</h1>
						</div>

<!--						视频标题-->
						<input id="videoTitle" name="videoTitle" type="text" placeholder="标题">
<!--						视频信息-->
						<textarea id="videoInfo" name="videoInfo" placeholder="描述"></textarea>


						<!--						视频封面-->
						<h5>封面</h5>
						<div class="dropzone thumbnail">
							<input type="file" name="imgUrl" id="imgUrl">
							<label for="imgUrl"><strong>选择一个缩略图</strong><span class="box__dragndrop">或者拖到这里</span></label>
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
							</div>
						</div>

<!--						视频本体-->
						<h5>视频</h5>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="upload">
								<div class="dropzone video">
									<input type="file" name="videoUrl" id="videoUrl">
									<label for="videoUrl">
										<strong>选择文件</strong><span class="box__dragndrop">或者拖到这里</span>
									</label>8
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
									</div>
								</div>
							</div>
						</div>



<!--						<div class="layui-upload">-->
<!--							<button type="file" class="layui-btn" id="test1">上传图片</button>-->
<!--							<input type="file" name="imgUrl" id="imgUrl">-->

<!--							<br/>-->
<!--							<div class="layui-upload-list">-->
<!--								<img class="layui-upload-img" id="demo1" style="width: 320px;height: 180px;">-->
<!--								<p id="demoText"></p>-->
<!--							</div>-->
<!--						</div>-->
<!--						<hr/>-->
<!--						<div class="layui-upload">-->
<!--							<button type="file" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>-->
<!--							<br/>-->
<!--							<div class="layui-upload-list" style="max-width: 1000px;">-->
<!--								<input type="file" name="videoUrl" id="videoUrl">-->
<!--								<table class="layui-table">-->
<!--									<colgroup>-->
<!--										<col>-->
<!--										<col width="150">-->
<!--										<col width="260">-->
<!--										<col width="150">-->
<!--									</colgroup>-->
<!--									<thead>-->
<!--									<tr><th>文件名</th>-->
<!--										<th>大小</th>-->
<!--										<th>上传进度</th>-->
<!--										<th>操作</th>-->
<!--									</tr></thead>-->
<!--									<tbody id="demoList"></tbody>-->
<!--								</table>-->
<!--							</div>-->
<!--							<button type="button" class="layui-btn" id="testListAction">开始上传</button>-->
<!--						</div>-->
<!--						<br/>-->
<!--						<hr/>-->



						<!--						视频时长-->
						<input id="videoTime" name="videoTime" type="text" placeholder="时长  例如: 2 h 40 min">



						<label style="font-weight: bolder">类别</label>
						<select name="videoType" id="videoType" class="form-control">
							<option value="知识">知识</option>
							<option value="科技">科技</option>
							<option value="动漫">动漫</option>
							<option value="游戏">游戏</option>
							<option value="音乐">音乐</option>
							<option value="美食">美食</option>
							<option value="汽车">汽车</option>
							<option value="舞蹈">舞蹈</option>
							<option value="生活">生活</option>



						</select>

						<div class="text-center mb-5">
<!--							<a href="#" class="viewtube-btn" id="submit-video">上传</a>-->
							<button class="viewtube-btn" type="button" onclick="checkVideoInfo()">上传</button>
						</div>


					</form>
				</div>
			</div>
		</div>

		<footer class="site-footer" th:insert="~{/commons/common_video::footer}"></footer>
		<div id="backtotop" style="display: block;">
			<svg class="icon" aria-hidden="true">
				<use xlink:href="#icon-up-arrow"></use>
			</svg>
		</div>
		<!--jQuery-->
		<script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<script th:src='@{/js/plugins.js}'></script>
		<script th:src='@{/js/main.js}'></script>

		<script th:src="@{/js/iconfont.js}"></script>

		<script th:src="@{/layui/layui.js}" charset="utf-8"></script>

		<script>
			layui.use(['upload', 'element', 'layer'], function(){
				var $ = layui.jquery
						,upload = layui.upload
						,element = layui.element
						,layer = layui.layer;

				//常规使用 - 普通图片上传
				var uploadInst = upload.render({
					elem: '#test1'
					,url: 'https://httpbin.org/post' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
					,before: function(obj){
						//预读本地文件示例，不支持ie8
						obj.preview(function(index, file, result){
							$('#demo1').attr('src', result); //图片链接（base64）
						});

						element.progress('demo', '0%'); //进度条复位
						layer.msg('上传中', {icon: 16, time: 0});
					}
					,done: function(res){
						//如果上传失败
						if(res.code > 0){
							return layer.msg('上传失败');
						}
						//上传成功的一些操作
						//……
						$('#demoText').html(''); //置空上传失败的状态
					}
					,error: function(){
						//演示失败状态，并实现重传
						var demoText = $('#demoText');
						demoText.html('<span style="color: #ff5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
						demoText.find('.demo-reload').on('click', function(){
							uploadInst.upload();
						});
					}
					//进度条
					,progress: function(n, elem, e){
						element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
						if(n == 100){
							layer.msg('上传完毕', {icon: 1});
						}
					}
				});

				//演示多文件列表
				var uploadListIns = upload.render({
					elem: '#testList'
					,elemList: $('#demoList') //列表元素对象
					,url: 'https://httpbin.org/post' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
					,accept: 'file'
					,multiple: true
					,number: 3
					,auto: false
					,bindAction: '#testListAction'
					,choose: function(obj){
						var that = this;
						var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
						//读取本地文件
						obj.preview(function(index, file, result){
							var tr = $(['<tr id="upload-'+ index +'">'
								,'<td>'+ file.name +'</td>'
								,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
								,'<td><div class="layui-progress" lay-filter="progress-demo-'+ index +'"><div class="layui-progress-bar" lay-percent=""></div></div></td>'
								,'<td>'
								,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
								,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
								,'</td>'
								,'</tr>'].join(''));

							//单个重传
							tr.find('.demo-reload').on('click', function(){
								obj.upload(index, file);
							});

							//删除
							tr.find('.demo-delete').on('click', function(){
								delete files[index]; //删除对应的文件
								tr.remove();
								uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
							});

							that.elemList.append(tr);
							element.render('progress'); //渲染新加的进度条组件
						});
					}
					,done: function(res, index, upload){ //成功的回调
						var that = this;
						//if(res.code == 0){ //上传成功
						var tr = that.elemList.find('tr#upload-'+ index)
								,tds = tr.children();
						tds.eq(3).html(''); //清空操作
						delete this.files[index]; //删除文件队列已经上传成功的文件
						return;
						//}
						this.error(index, upload);
					}
					,allDone: function(obj){ //多文件上传完毕后的状态回调
						console.log(obj)
					}
					,error: function(index, upload){ //错误回调
						var that = this;
						var tr = that.elemList.find('tr#upload-'+ index)
								,tds = tr.children();
						tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
					}
					,progress: function(n, elem, e, index){ //注意：index 参数为 layui 2.6.6 新增
						element.progress('progress-demo-'+ index, n + '%'); //执行进度条。n 即为返回的进度百分比
					}
				});



			});
		</script>
	</body>
</html>
