
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelraf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Themezhub">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HuiYan-交易记录</title>

    <!-- Custom CSS -->
    <link th:href="@{/css/styles_user.css}" rel="stylesheet">
    <link th:href="@{/css/style_reg.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/snackbar.min.css}" rel="stylesheet">
    <link th:href="@{/css/slick.css}" rel="stylesheet">
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet">
    <link th:href="@{/css/themify.css}" rel="stylesheet">
    <link th:href="@{/css/line-icons.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/css/flaticon.css}" rel="stylesheet">

    <link th:href="@{/css/iconfont.css}" rel="stylesheet">

    <script type="text/javascript">
        function userOrders() {

            location.href="/user/getUserOrders";

        }
    </script>

</head>

<body>


    <div id="main-wrapper">


        <div class="header header-light dark-text head-shadow">
            <!--				TopBar1!!!-->
            <!--				TopBar1!!!-->
            <!--				TopBar1!!!-->
            <div class="container" th:insert="~{/commons/common_user::topBar1}"></div>


        </div>

      <div class="dashboard-wrap bg-light">

          <!--				TopBar2!!!-->
          <!--				TopBar2!!!-->
          <!--				TopBar2!!!-->
          <div class="collapse" id="MobNav" th:insert="~{/commons/common_user::topBar2}"></div>


          <div class="dashboard-content">
                <div class="dashboard-tlbar d-block mb-5">
                    <div class="row">
                        <div class="colxl-12 col-lg-12 col-md-12">
                            <!-- <h1 class="ft-medium">Manage Jobs</h1> -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item text-muted"><a href="#">个人中心</a></li>
                                    <!-- <li class="breadcrumb-item text-muted"><a href="#">Dashboard</a></li> -->
                                    <li class="breadcrumb-item"><a href="#" class="theme-cl">交易记录</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="dashboard-widg-bar d-block">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                          <!--  <div class="d-flex align-items-center p-3 alert alert-danger">
                                Your listings will be automatically removed after 30 days.
                            </div> -->
                            <div class="mb-4 tbl-lg rounded overflow-hidden">
                                <div class="table-responsive bg-white">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">流水号</th>
                                                <th scope="col">金额</th>
                                      
                                                <th scope="col">时间</th>
                                                <th scope="col">类型</th>
<!--                                                <th scope="col">操作</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="orders:${session.orders}">
                                            <td>
                                                <div class="dash-filled">
                                                    <h4 class="mb-0 ft-medium fs-sm" th:text="${orders.orderNo}"></h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dash-filled">
                                                    <h4 class="mb-0 ft-medium fs-sm" th:text="${orders.totalAmount}"></h4>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="dash-filled">
                                                    <h4 class="mb-0 ft-medium fs-sm" th:text="${#dates.format(orders.createTime,'yyyy-MM-dd HH:mm:ss')}"></h4>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dash-filled">
                                                    <h4 class="mb-0 ft-medium fs-sm" th:text="${orders.tradeType}"></h4>
                                                </div>
                                            </td>
<!--                                            <td>-->
<!--                                                <div class="dash-action">-->

<!--                                                    <a href="#" class="theme-bg text-light rounded px-3 py-2 ft-medium">确定</a>-->
<!--                                                </div>-->
<!--                                            </td>-->
                                        </tr>



                                    
                                        
                                       
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- footer -->
                <div class="row">
                    <div class="col-md-12">
<!--                        <div class="py-3"> 2022 Workplex. Designd By <a href="http://www.sucai8.cn">sucai8.cn</a>.</div>-->
                        <p>Copyright (c) 2022 HuiYan All Rights By HuiYan.cn.</p>
                    </div>
                </div>

            </div>

        </div>
        <!-- ======================= dashboard Detail End ======================== -->

        <a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/slick.js}"></script>
    <script th:src="@{/js/slider-bg.js}"></script>
    <script th:src="@{/js/smoothproducts.js}"></script>
    <script th:src="@{/js/snackbar.min.js}"></script>
    <script th:src="@{/js/jQuery.style.switcher.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

    <script th:src="@{/js/iconfont.js}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->

</body>
</html>